{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Register <Strong style="color: rgb(224, 65, 21);text-transform: uppercase">{{ page }}</Strong></h1>
            
            <form action="" method="post" style="width: 500px">
                {% csrf_token %}
        
                {% for filed in form  %}
                    <div class="form-group">
                        <label for="{{filed.name}}">{{filed.label}}</label>
                        {{filed}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in field.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
        
                <button type="submit" class="btn btn-primary btn-lg my-2">Register</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
        <div class="col-md-2"></div>
    </div>
    
</div>
{% endblock %}